:root {
    --primary-color: #FABC2A;
    --secondary-color: #7C7C7C;
    --background-color: #FAFAFF;
    --text-color: #1C1C1C;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    color: var(--text-color);
    margin: 20px;
}

@font-face { font-family: Blackbird; src: url('Assets/Projekt\ Blackbird.otf'); }

body {
    font-family: Blackbird , Helvetica, Arial;
    color: var(--text-color); 
    background-color: var(--background-color);
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

body, html {
    height: 75%;
}

.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%
/* Add any other styles for .parallax */
}

@keyframes horizontal-scroll {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 40px;
    }
  }

.parallax {
    /* The image used */
    background-image: url("Assets/pattern1.png");

 /* Set a specific height */
    height: 50%; /* Adjust as needed */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover; /* Adjust as needed */
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;

    /* make the background scroll horizontally */
    animation: horizontal-scroll 2s linear infinite;
  }

.textbox {
    text-align: center;
    font-family: Blackbird , Helvetica, Arial;
    color: var(--text-color);
    font-size: larger;
    font-weight: bold;
    margin: 20px;
}
/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--text-color);
  }

.topnav { /* navigation bar */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add space between items */
}

.topnav ul{ /* the actual list */
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox */
}

.topnav .left-items { /* Title of page */
    display: flex; /* Use flexbox for left items */

    font-size: 32px; /* Adjust font size for the title */
}

.topnav .right-items {
    display: flex; /* Use flexbox for right items */
    align-items: center; /* Align items vertically */
}

.topnav li {
    display: inline-block; /* Display list items inline */
}

.topnav li a { /* each actual label */
    float : left;
    color: #00396d; /* Text color of the menu items */
    text-align: center; /* Center-align text */
    padding: 14px 16px; /* Padding around each menu item */
    text-decoration: none; /* Remove underlines from links */
}

.topnav li a:hover {
    color: #000000; /* Text color on hover */
}
