:root {
    --primary-color: #FABC2A;
    --secondary-color: #7c7c7c44;
    --background-color: rgb(252, 249, 246);
    --dark-background-color: #1b0505;
    --text-color: #1C1C1C;
    color : var(--text-color);
    background-color: var(--background-color);
}

.index
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: Blackbird, Helvetica, Arial;
    font-size: clamp(25px, 10vw, 100px);
    font-weight: bolder;
}

h2 {
    font-family: Blackbird, Helvetica, Arial;
    font-size: clamp(15px, 5vw, 60px);
}

@font-face {
    font-family: 'Blackbird';
    src: url('../assets/Projekt\ Blackbird.otf') format('opentype');
  }

body,html {
    font-family: Blackbird , Helvetica, Arial;
    margin: 20px;
}

main {
    width: clamp(300px, 80%, 1000px);
    margin: 32px;
}


.stacked-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.centered-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}

@media (prefers-color-scheme: dark) {
    :root{
        background-color: var(--dark-background-color); /* Dark background for dark mode */
        color: var(--background-color); /* Light text for dark mode */
    }
  }