:root {
    --primary-color: #FABC2A;
    --secondary-color: #7c7c7c44;
    --background-color: rgb(231, 227, 219);
    --dark-background-color: #1b0505;
    --text-color: #1C1C1C;
    color : var(--text-color);
    background-color: var(--background-color);
}

.index
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
}

h2 {
    font-family: Blackbird, Helvetica, Arial;
    font-size: x-large;
    font-weight: bold;
}

@font-face {
    font-family: 'Blackbird';
    src: url('../assets/Projekt\ Blackbird.otf') format('opentype');
  }

body,html {
    font-family: Blackbird , Helvetica, Arial;
    margin: 20px;
}

.centered-text {
    display: grid;
    justify-content: center;
    align-items: center;
    height:100%
/* Add any other styles for .parallax */
}

@media (prefers-color-scheme: dark) {
    :root{
        background-color: var(--dark-background-color); /* Dark background for dark mode */
        color: var(--background-color); /* Light text for dark mode */
    }
  }